* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 5px;
}

body {
    min-height: 100vh;
    background-image: url(../images/weather_back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    font-size: 20px;
}

h4 {
    margin-left: 5px;
    font-size: 20px;
}

#main-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

#search {
    margin: 5px 5px 0px 10px;
}

#city {
    border: 1px solid black;
    border-radius: 3px;
}

#search-header {
    margin-bottom: 5px;
    border-bottom: 2px solid dodgerblue;
}

#city {
    width: 100%;
    margin-bottom: 10px;
}

#recent-searches button, #search-button {
    margin: 3px 0px 8px 0px;
    padding: 3px;
    border-radius: 5px;
    border: none;
    color: white;
}
#recent-searches button {
    background-color: dodgerblue;
}
#search-button {
    background-color: darkgray;
}
button {
    width: 100%;
}

#recent-searches button:hover, #search-button:hover {
    box-shadow: 1px 1px darkgray;
}

#current-city {
    margin: 10px;
    padding: 10px;
}

#current-city-header {
    display: flex;
    align-items: center;
}

#weather-icon, #forecast-icon {
    width: 60px;
}

li {
    line-height: 200%;
    list-style: none;

}

#fivedayheader {
    margin-left: 10px;
}

#fivedaylist {
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
}

#fivedaydiv {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}

#fivedayheads {
    display: flex;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: darkgrey;
}

/*Responsive mobile settings */
@media only screen and (max-width: 950px) {
    #main-content {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 650px) {

    /*Shrink header size*/
    body {
        overflow: visible;
    }

    #main-wrapper {
        display: block;
    }

    #search {
        display: block;
        width: 80%;
        margin: auto;
    }

    #current-city, #current-city-header {
        display: block;
        text-align: center;
    }

    #fivedaylist {
        display: block;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    #fivedayheads {
        margin: auto;
    }

    h3 {
        text-align: center;
    }

    li {
        margin: auto;
    }

}