header {
    padding: 5px;
}

body {
    background-image: url(../images/weather_back2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: dodgerblue;
    text-decoration: underline;
}

#main-wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
}

#search-header {
    margin-left: 5px;
}

#city {
    width: 65%;
    margin-bottom: 10px;
}


#recent-searches button, #search-button {
    margin: 3px 5px 3px 5px;
    padding: 3px;
    border-radius: 5px;
    border: none;
    background-color: dodgerblue;
    color: white;
}

#recent-searches button {
    width: 85%;
}

#recent-searches button:hover, #search-button:hover {
    box-shadow: 1px 1px darkgray;
}

#fivedaylist {
    display: flex;
    flex-wrap: wrap;
}

#fivedaydiv {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
}

footer {
    text-align: center;
    height: 200px;
}